* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;

}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}

p, a {
  font-family: 'Mooli', sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

html:focus-within {
  scroll-behavior: smooth;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-column-gap: .5rem;
  max-width: 1200px;
  margin: 0 auto 100px auto;
  
}

.card-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: 0.6s ease-in-out;
/*     padding: 20px;
  max-width: 20rem; */
  margin: 10px;

}
.card-container:hover {
  border: solid 1px #0066b3;
}

.ilustration {
  width: 100%;
aspect-ratio: 1/ 1;
object-fit: cover;
}

.news-info-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.news-title {
  font-size: 1.5rem;
  padding-bottom: 25px;
}

.news-content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  width: 260px;
/*     display: -webkit-box;
*/    -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden; */
}

.learn_more {
background-color: #cc0009;
color: #fff;
border-color: transparent;
border-radius: 50px;
align-self: self-start;
padding: 10px 20px;
text-decoration: none;   
}
